<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Bee Petition</title>
    </head>
    <header>
        {{#if profile}}
            <form action="/profile/edit">
                <button>Edit Profile</button>
            </form>
        {{/if}}
        {{#if logout}}
            <form action="/logout">
                <button>Log out</button>
            </form>
        {{/if}}
    </header>
    <body>
        <main>
            {{{body}}}
        </main>
    </body>
    <script src="/script.js"></script>
</html>