<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <title>Let's Fly to the Moon</title>
    </head>

    <body id="{{identifier}}">
        {{#if profile}}
            <header>
                <form action="/profile/edit">
                    <button>Edit Profile</button>
                </form>

                {{#if thanks}}
                    <form action="/thanks">
                        <button>Home</button>
                    </form>
                {{/if}}
                {{#if logout}}
                    <form action="/logout">
                        <button>Log out</button>
                    </form>
                {{/if}}
            </header>
        {{/if}}
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>&copy; thwalln, 2021</p>
        </footer>
    </body>
    <script src="/script.js"></script>
</html>