<h2>Ooops, something went wrong. Please try again!</h2>
{{#if loggedin}}
    <a class="button secondary" href="/login">login</a>
{{/if}}
{{#if registration}}
    <a class="button secondary" href="/registration">registration</a>
{{/if}}