{{! Add 2 new handlebars templates (registration & login)
Both templates should conditionally render error messages in case something goes wrong
Both templates should have a <form> that makes a POST request to the server when you click the submit / login button.
update Petition template:
remove first and last input fields }}

<h1>Please Log in</h1>
<form action="" method="POST">
    <div>
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>
    <button>LOG IN</button>
</form>
<p>Please <a href="/registration">register</a> if you haven't done yet.</p>