<h1>Welcome Back</h1>
<p>Please Log In</p>
<form action="" method="POST">
    <input type="email" name="email" id="email" placeholder="Email" />
    <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
    />
    <button>Log in</button>
</form>
<a class="button secondary" href="/registration">Create new account</a>