<h1>Please sign below if you want the ESA to go to the moon!</h1>

<form action="" method="POST">

    <input type="hidden" name="signature" id="signature" />
    <canvas id="canv" width="400" height="120"></canvas>

    <button>Submit</button>
</form>

{{#if error}}
    <p>Something went wrong, please try again</p>
{{/if}}

{{#if emptySignature}}
    <p>Emtpy signature. Please sign with your mouse to proceed</p>
{{/if}}

<script src="../public/script.js"></script>