<main>
    <form action="" method="POST">
        <div>
            <input type="hidden" name="signature" id="signature" />
            <canvas id="canv" width="400" height="75"></canvas>
        </div>
        <button>SUBMIT</button>
    </form>

    {{#if error}}
        <p>ERROR!!!!!!</p>
    {{/if}}
</main>

<script src="../public/script.js"></script>