<h1>Please sign below!</h1>
<p>
    Hi there! The last time humans set foot on the moon was in 1972 as part of
    NASA's Apollo program. We want to change that and collect enough singatures,
    so that the European Space Agency (ESA) is forced to start the first
    European Moon program. Support us &amp; sign the petition.
</p>
<form action="" method="POST">

    <input type="hidden" name="signature" id="signature" />
    <canvas id="canv" width="400" height="120"></canvas>

    <button>Submit</button>
</form>

{{#if error}}
    <p>Something went wrong, please try again</p>
{{/if}}

{{#if emptySignature}}
    <p>You submitted an emtpy signature. Please sign again using your mouse.</p>
{{/if}}

<script src="../public/script.js"></script>