<div>
    <h1>Profile Information</h1>
    <p>Please share some infromation with us</p>
    <form action="" method="POST">
        <div>
            <input type="text" name="age" id="age" placeholder="Age" />
        </div>
        <div>
            <input type="text" name="city" id="city" placeholder="City" />
        </div>
        <div>
            <input type="text" name="url" id="url" placeholder="Website" />
        </div>
        <button>submit</button>
    </form>
    <p>ERROR MESSAGE MISSING</p>
</div>