<h1>Profile Information</h1>
<form action="" method="POST">
    <div>
        <label for="first">Age</label>
        <input type="text" name="age" id="age" placeholder="age" />
    </div>
    <div>
        <label for="last">City</label>
        <input type="text" name="city" id="city" placeholder="city" />
    </div>
    <div>
        <label for="last">URL</label>
        <input type="text" name="url" id="url" placeholder="url" />
    </div>
    <button>SUBMIT</button>
</form>

<p>ERROR MESSAGE MISSING</p>