<main>
    <h1>THANKS FOR SIGNING</h1>

    <a href="/signers">Link to Signers Page</a><br />
    <img src="{{userSignature}}" alt="" />

    <p>Number of people that aleady signed the petition: {{count}}</p>
</main>