{{! 
DONE -----> Just says thankyou for signing
DONE -----> has a link to the signers page

displays information about how many people have signed the petition
}}

<h1>THANKS FOR SIGNING</h1>

<a href="/signers">Link to Signers Page</a>
<img src="{{userSignatureURL}}" alt="" />

<p>Number of people that aleady signed the petition: {{count}}</p>