{{! Just says thankyou for signing
has a link to the signers page
displays information about how many people have signed the petition
signers.handlebars
expects an array of objects with first and last name properties. loops through the array and prints each first and last name }}

<h1>THANKS FOR SIGNING</h1>