<h1>Thanks for signing</h1>

<a href="/signers">Signers Page</a>

<img src="{{userSignature}}" alt="" />

<p>Number of people that aleady signed the petition: {{count}}</p>

<form action="/thanks/delete" method="POST">
    <button>Delete signature</button>
</form>